

.bar-bazaar-list-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

li {
    list-style: none;
}

.bar-bazaar-status {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding: 10px;
    background-color: #224a8c;
    width: 100%;
    border-radius: 5px;
    align-items: center;
}

.bar-bazaar-status:hover {
    background-color: #3461ae;
    cursor: pointer;
}

.bar-bazaar-line-icons {
    margin-right: 15px;
    font-size: 20px;
}

.bar-bazaar-line-text {
    font-size: 20px;
}